
@{
    ViewBag.Title = "Index";
}

<h2>Bible Verse Application</h2>

<div class="row">
    
@Html.ActionLink("Add Bible Verse Entry", "Add", null, new {@class = "btn btn-primary col-sm" })


@Html.ActionLink("Search Bible Verse Entry", "Search", null, new { @class = "btn btn-primary col-sm " } )
</div>

